<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="m2mKoubaiDAL.Properties.Settings.m2mKoubaiConnectionString"
            connectionString="Data Source=192.168.2.206;Initial Catalog=m2mKoubai2;User ID=sa;Password=sa@db;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="m2mKoubaiDAL.Properties.Settings.m2mKoubaiConnectionString1"
            connectionString="Data Source=PC-SAITO;Initial Catalog=m2mKoubai;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="m2mKoubaiDAL.Properties.Settings.ConnectionString"
            connectionString="Data Source=MATSUDA-PC;Persist Security Info=True;User ID=m2mKoubai007;Password=m2mKoubaiqwerty"
            providerName="System.Data.SqlClient" />
        <add name="m2mKoubaiDAL.Properties.Settings.m2mKoubaiConnectionString2"
            connectionString="Data Source=SEKI-PC;Initial Catalog=m2mKoubai;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="m2mKoubaiDAL.Properties.Settings.YodokoKousanConnectionString"
            connectionString="Data Source=PC-D390;Initial Catalog=YodokoKousan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="m2mKoubaiDAL.Properties.Settings.YodokoKousanConnectionString1"
            connectionString="Data Source=PC-SAITO;Initial Catalog=YodokoKousan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="m2mKoubaiDAL.Properties.Settings.YodokoKousanConnectionString2"
            connectionString="Data Source=SEKI-PC;Initial Catalog=YodokoKousan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="m2mKoubaiDAL.Properties.Settings.YodokoTestConnectionString"
            connectionString="Data Source=192.168.2.88;Initial Catalog=YodokoTest;User ID=YodokoKousan007;Password=YodokoKousanqwerty"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>