<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ServerViewStatePage" type="System.Configuration.SingleTagSectionHandler,&#xA;             System,version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <!--
    RedirectMode : URL/Message
      URL : RedirectURLに移動
      Message : RedirectMessageを表示
    RedirectURL  : セッションタイムアウト等の理由でビューステートが無かった場合にリダイレクトするURL。
      RedirectMessageより優先
    RedirectMessage : セッションタイムアウト等の理由でビューステートが無かった場合に表示されるメッセージ。
      RedirectURL         
     -->
  <ServerViewStatePage Mode="On" ViewStateHistoryLimit="200" ViewStateSizeLimit="4000" ConnectionString="user id=sa;password=sa@db;database=m2mKoubai2;server=192.168.2.206" RedirectMode="URL" RedirectURL="~/LoginForm.aspx" RedirectMessage="ページの有効期限が切れました。"/>
  <system.web>
    <!-- 
            デバッグ シンボルをコンパイルされたページに挿入するに
            は、compilation debug="true" に設定します。この設
            定はパフォーマンスに影響するため、開発時のみこの値
            を true に設定してください。
        -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<customErrors> セクションは、要求の実行中にハンドル
            されていないエラーが発生した場合の処理方法の構成を
            有効にします。具体的には、開発者が HTML エラー ペ
            ージをスタック トレースのエラーの代わりに表示するように構
            成することを可能にします。
        -->
    <customErrors mode="RemoteOnly"/>
    <!--AUTHENTICATION 
                このセクションは、アプリケーションの認証ポリシーを設定します。使用できるモードは、"Windows"、"Forms"、
                "Passport" および "None" です。
                デフォルトの設定は、Cookieに暗号化された値が保存される。SetAuthCookieの第２引数がfalseの場合は、
                一時的なCookieとしてブラウザ側のメモリ内に保存されブラウザを終了もしくはタイムアウト（既定では30分)を過ぎると破棄される。
                Cookieの値をハッシュによる検証を行い改ざんを防止している為、安全性は高い。
                Cookie のタイムアウトまでの時間を整数の分の値で指定します。
      -->
    <authentication mode="Forms">
      <forms name="m2mKoubai" loginUrl="LoginForm.aspx" slidingExpiration="true" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--  アプリケーション レベルのトレース ログ
          アプリケーション レベルのトレースは、アプリケーション内の全ページのトレース ログ出力を有効にします。
          アプリケーション トレース ログを有効にするには、trace enabled="true" に設定します。pageOutput="true" に設定された場合、
          トレース情報が各ページの下に表示されます。それ以外の場合は、
          Web アプリケーション ルートから "trace.axd" ページを参照してアプリケーション トレースを
          表示できます。
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  セッション状態の設定
          既定では、ASP .NET はクッキーを使用して、要求がどのセッションに属するかを識別します。
          クッキーが使用できない場合は、URL にセッション識別子を入力することで、セッションを見つけることができます。
          クッキーを無効にするには、sessionState を cookieless="true" に設定してください。
          テストのためにtimeoutを1で設定中の場合もある（Default:20）
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="30"/>
    <!--  GLOBALIZATION
          このセクションはアプリケーションのグローバリゼーション設定を行います。 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="shift_jis"/>
    <!--<httpRuntime executionTimeout="90" maxRequestLength="9999"/>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=EmulateIE7"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <!--DB(ログインID,パスワードは起動する環境に合わせる)-->
    <add key="ConnectionString" value="user id=sa;password=sa@db;database=m2mKoubai2;server=192.168.2.206"/>
    <!--メールサーバ-->
    <add key="SMTP_Server" value="192.168.2.156"/>
    <!--エラーメール送信元&送信先-->
    <add key="Err_Mail_From" value="dev@m2m-asp.com"/>
    <add key="Err_Mail_To" value="sakata@m2m-asp.com"/>
    <!--ログイン画面にリダイレクトするフォーム-->
    <add key="LoginUrl" value="http://localhost/m2mKoubai/LoginForm.aspx"/>
    <!--納品書印刷時の消費税-->
    <add key="ShouhiZei" value="10"/>
    <!--納品書印刷時の表示行数-->
    <add key="Nouhinsho_FirstPageRow" value="20"/>
    <add key="Nouhinsho_ElsePageRow" value="28"/>
    <!--受領書印刷時の表示行数-->
    <add key="Jyuryosho_FirstPageRow" value="23"/>
    <add key="Jyuryosho_ElsePageRow" value="30"/>
    <!--支払予定印刷時の表示行数-->
    <add key="Hacchuusho_FirstPageRow" value="8"/>
    <add key="Hacchuusho_ElsePageRow" value="9"/>
  </appSettings>
</configuration>